@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&family=Montserrat:ital,wght@0,100;0,300;1,300&display=swap");

$font-stack: Helvetica, sans-serif;
$primary-color: #2fd381;
$small: 910px;
$medium: 1080px;
$large: 1279px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    border: 15px solid $primary-color;

    @media screen and (max-width: $small) {
        border: 10px solid $primary-color;
    }
}

.hero {
    display: grid;
    padding: 10px;
    max-width: $medium;

    margin-left: 10vw;
    margin-top: 5vh;

    .logo {
        max-width: 13.5vw;
        transform: rotate(5deg);
        grid-column: 1;
        grid-row: 1;
        margin-right: 50px;
        margin-top: 50px;

        @media screen and (min-width: $medium) and (max-width: $large) {
            max-width: 15vw;
        }

        @media screen and (max-width: $small) {
            max-width: 20vw;
        }
    }

    .col {
        grid-column: 2/4;
        grid-row: 1;
        margin-right: 5vw;

        @media screen and (min-width: $medium) and (max-width: $large) {
        }

        @media screen and (max-width: $small) {
            grid-column: 1;
            grid-row: 2;
        }
    }

    h1 {
        font-size: 5vw;
        font-family: "Fira Sans", sans-serif;
        margin-bottom: 0;

        @media screen and (max-width: $small) {
            font-size: 10vw;
        }
    }

    p {
        margin-top: 20px;
        font-size: 28px;
        font-family: "Montserrat", sans-serif;

        @media screen and (max-width: $small) {
            margin-left: 0;
            font-size: 5vw;
        }
    }

    a {
        color: $primary-color;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            color: white;
            background-color: $primary-color;
        }
    }
    .small {
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 24px;

        @media screen and (max-width: $small) {
            margin-left: 0;
            margin-top: 40px;
            font-size: 4vw;
        }
    }
    .large {
        margin-right: 5vw;
    }
}
